#entireForgot{
    width:100%;
    height: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
  
}
#forgotContent{
    background-color: white;
    width:35%;
    height: 80%;
    border-radius: 10px;
    border-top: 2px solid #715CF3;       /* Top border with a red color */
    border-right: 2px solid #715CF3;   /* Right border with a green color */
    border-bottom: 2px solid #5C99F3;   /* Bottom border with a blue color */
    border-left: 2px solid #5C99F3;
    padding: 20px;  
}

#ForgotDealDoxIcon {
    width:140px;
    height: 70px;
}
.forgotlogo{
    margin: 10px;
}
#setPassword{

   color: #4d4b4b;
    font-family: Ubuntu;
    font-size: 30px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: left;
   
}
#newPasswordDiv,#retypePasswordDiv{
   margin-left: 20px;
}
#setpasswordHeading{
    display: flex;
    justify-content: center;
    align-items: center;

}

#newpassLabel,#retypepassLabel{
font-family: 'Open Sans', sans-serif;
font-weight: bold;
font-size: 12px;
position: relative;
color: #2f2e2e;
}
#newpassInput,#retypepassInput{
width: 90%;
height: 40px;
border-radius: 8px;
padding-left: 5px;
outline-color: #ccc;
font-family: 'Open Sans', sans-serif;
margin: 10px 0px 5px 0px;
border-top: 1px solid #715CF3;       /* Top border with a red color */
border-right: 1px solid #715CF3;   /* Right border with a green color */
border-bottom: 1px solid #5C99F3;   /* Bottom border with a blue color */
border-left: 1px solid #5C99F3;

}

#newpassInput::placeholder,#retypepassInput::placeholder{
    color: #797878;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}
#submitdiv{
    display: flex;
    justify-content: center;
    align-items: center;
}
#saveButton{
font-family: 'Open Sans', sans-serif;
font-weight: 800;
color: white;

background-image: linear-gradient(to right,#715CF3,#5C99F3);
border: none;
width: 80%;
height: 40px;
border-radius: 10px;
}
