.rowdoctypes {
  display: flex;
  padding-left: 66px;
  padding-top: 66px;
  background-color: white;
}
.rightDoctype {
  background-color: white;
  z-index: 1;
  padding: 4px;
  position: relative;
  width: 100%;
}
.wordicon {
  display: flex;
  justify-content: center;
}
.worddownload {
  display: grid;
  gap: 3px;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  position: absolute;
  right: 0px;
}
#wordtemplatelabel {
  font-size: 10px;
}
.containerBV1 {
  display: grid;
  grid-template-columns: 1.3fr 1fr 1fr 0.7fr;
}
.containerBV5 {
  display: grid;
  grid-template-columns: 1.3fr 1fr 1fr 0.4fr 0.3fr;
}
.watermarkleft,
.watermarkright {
  border: 1px solid #ccc;
  height: 59px;
}
#doccheck1 {
  height: 61px;
  display: grid;
  grid-template-columns: 1px 1px;
  justify-content: space-evenly;
}
.containersection {
  display: grid;
  height: 59px;
  align-items: center;
  justify-content: center;
  grid-template-columns: 0.75fr 2fr 2fr;
}
.sectiongrid {
  display: grid;
  height: 59px;
  grid-template-columns: 0.75fr 2fr 2fr 0.25fr 0.25fr;
}
.addsectionbuttoncss {
  padding: 20px;
}
.buttonsectionUPDE {
  border: 0.1px solid rgb(218, 217, 217);
  height: 59px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#sectionNAMElabel22,
#sectionNAMElabel21 {
  color: #216c98;
  top: -20px;
  left: 5px;
  font-weight: bold;
  font-size: 11px;
  position: relative;
}
.addsectionbuttoninput {
  display: grid;
  height: 59px;
  grid-template-columns: 0.75fr 2fr 2fr 0.25fr 0.25fr;
}
#textsection1 {
  border: 0.1px solid rgb(218, 217, 217);
  height: 59px;
  outline: none;
  display: grid;
  align-items: center;
}
.watermarkifilename {
  height: 57.5px;
  border: none;
  width: 100%;
  padding-left: 6px;
  font-size: 14px;
  outline: none;
}
#textsection2 {
  height: 59px;
  border: 0.1px solid #ccc;
  width: 100%;
  padding-left: 6px;
  font-size: 14px;
  outline-color: #216c98;
}
#moveupdoctype,
#movedowndoctype {
  position: relative;
  opacity: -0.8;
  transition: opacity 0.2s ease-in-out;
  background: none;
  cursor: pointer;
  color: #0f6b93;
  border: none;
  font-size: 10px;
  font-weight: bold;
}
#moveupdoctype:hover,
#movedowndoctype:hover {
  opacity: 1;
  font-size: 10px;
  position: relative;
}
.errormessagedoctype {
  position: relative;
  color: red;
  font-size: 10px;
  top: -15px;
  padding-left: 3px;
  font-weight: bold;
}
#editsectionDctype {
  position: relative;
  top: -36px;
  right: 26px;
  float: right;
  opacity: 0;
  color: lightslategray;
  font-size: 13px;
}
#textsection2:hover {
  opacity: 1;
}
#textsection3 {
  border-right: none;
  border-top: 0.1px solid #ccc;
  border-left: none;
  background-color: rgb(234 234 234);
  height: 59px;
  border-bottom: 1px solid #ccc;
  width: 100%;
  padding: 6px;
  font-size: 14px;
  outline: none;
}
.cpoybutton {
  border-bottom: 1px solid #ccc;
  background-color: rgb(234 234 234);
  height: 59px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.copy-buttonsection {
  font-size: 20px;
  border: none;
  position: relative;
  background-color: white;
  color: #0f6b93;
  cursor: pointer;
  border-radius: 25px;
}
.delete-buttonsection {
  position: relative;
  color: red;
  height: 59px;
  font-size: 20px;
  width: 100%;
  background-color: white;
  border: none;
}
.highlighted-button {
  background-color: red;
  color: white;
}
#addsectionbuttoncss {
  border: none;
  background-color: white;
  color: #0f6b93;
  font-weight: bold;
  font-size: 13px;
}
#dowicondoctypewatermark,
#dowicondoctype,
#uploadiconDoctype,
#uploadwatermark {
  padding: 5px;
  font-size: 10px;
  position: relative;
  border: 1px solid lightgray;
  border-radius: 50%;
  color: #216c98;
}
#uploadiconDoctype:hover,
#dowicondoctype:hover,
#dowicondoctypewatermark:hover,
#uploadwatermark:hover {
  background-color: #216c98;
  color: white;
}
label#templab,
#waterlab {
  color: #216c98;
  top: -20px;
  left: 5px;
  font-weight: 800;
  font-size: 10px;
  position: relative;
}
#canceldoctypeiconwatermark,
#canceldoctypeicon {
  position: relative;
  padding: 5px;
  color: #f00202;
  border: 1px solid lightgray;
  border-radius: 40px;
  z-index: 1;
  font-size: 10px;
  font-weight: 800;
}
#canceldoctypeicon:hover,
#canceldoctypeiconwatermark:hover {
  background-color: #f00202;
  color: white;
}
.label-hide {
  display: none;
}
.upload-icons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 3px;
}
.buttonsection {
  padding: 20px;
}
/* label#ReorderSections {max-inline-size: min-content;} */

.input-with-icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 0.1px solid #ccc;
  height: 59px;
}
.sections {
  margin-top: 2%;
}
