
  
  * {
    margin: 0;
    padding: 0;
    text-decoration: none;
  }
  
  .container {
    display: flex;
  }
  
  main {
    width: 100%;
  }
  
  .sidebarfix {
    margin-top: 65px;
    height: 100%;
    position: fixed;
    z-index: 10;
  }
  
  .sidebar {
    background: #216c98;
    color: black;
    height: 100%;
    width: 67px;
  }
  
  .link {
    display: flex;
    color: #fff;
    padding: 8px 17px;
    border-bottom: 1px solid white;
  }
  
  .link:hover {
    background: white;
    color: #000;
    transition: all 0.2s;
  }
  
  .active {
    background: white;
    color: #000;
  }
  
  .icon {
    font-size: 20px;
  }
  
  .link_text {
    font-size: 8px;
    font-family: "robot";
    text-align: center;
    font-weight: bold;
  }
  
  /* --------------------top navigation bar(black)------------------------------- */
  
  nav {
    display: flex;
    width: 100%;
    background: rgb(41, 41, 44);
    justify-content: space-between;
    padding: 6px 0px;
  }
  
  .navset a i {
    font-size: 20px;
  }
  
  .navandbread {
    position: fixed;
    width: 100%;
    z-index: 4;
  }
  
  /* ------------------searchbar--------------------- */
  .search {
    left: 10px;
    position: relative;
    width: 30px;
    height: 23px;
    background: rgb(241, 241, 245);
    border-radius: 90px;
    transition: 0.5s;
    box-shadow: 0 0 0 1px rgb(41, 41, 44);
    overflow: hidden;
  }
  
  .search.active {
    width: 250px;
  }
  
  .search .icon {
    position: absolute;
    top: 0;
    left: -12px;
    width: 60px;
    height: 28px;
    background: rgb(242, 240, 240);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    cursor: pointer;
  }
  
  i#fasearchicon {
    font-size: 15px;
    margin-right: 5px;
    margin-bottom: 3px;
  }
  
  .search .input {
    position: relative;
    width: 200px;
    height: 60px;
    left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #mysearch {
    position: relative;
    bottom: 18px;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 13px;
    padding: 10px 0;
  }
  
  .clear {
    position: absolute;
    top: 20%;
    transform: translate(-60%);
    width: 15px;
    height: 15px;
    right: 2px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .clear::before {
    position: absolute;
    content: "";
    width: 1px;
    height: 10px;
    background: #999;
    transform: rotate(45deg);
  }
  
  .clear::after {
    position: absolute;
    content: "";
    width: 1px;
    height: 10px;
    background: #999;
    transform: rotate(315deg);
  }
  
  /* -------------------breadcrumbs---------------------- */
  .bread {
    position: fixed;
    width: 100%;
    z-index: 1;
    height: 30px;
    z-index: 3;
    margin-top: 35px;
  }
  
  .breadcrumbs {
    padding-left: 4px;
    font-family: sans-serif;
    background-color: white;
    padding: 5px;
  }
  
  .breadcrumbs--item {
    display: inline-block;
  }
  
  .breadcrumbs--item:not(:last-of-type)::after {
    content: "\203a";
    content-visibility: visible;
    margin: 0 10px;
    color: #484646;
  }
  
  .breadcrumbs--link {
    color: #696464;
    font-size: 10px;
  }
  .breadcrumbs--link_mid{
    color: #000;
    font-size: 12px;
  }
  .breadcrumbs--link--active {
    color: #1b2a27;
    font-size: 13px;
    font-weight: 400;
    font-weight: bold;
  }
  .breadcrumbs--link_mid:hover{
    color: #045679;
    text-decoration: underline;
  }
  .breadcrumbs--link:hover{
    color: #045679;
    text-decoration: underline;
   }
  
  .breadcrumbs i:hover {
    color: #216c98;
  }
  
  .hr {
    border: none;
    height: 1px;
    background: lightblue;
  }
  
  /* ---------------profiledropdown---------------- */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content_navbar {
    position: absolute;
    background-color: #f1f1f1;
    min-width: 200px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 32px;
    right: 0px;
  }
  
  .dropdown-content_navbar a {
    color: black;
    padding: 16px 20px;
    font-family: sans-serif;
    font-size: x-small;
    font-size: 80%;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid rgb(11, 11, 11);
  }
  
  .dropdown a:hover {
    background-color: #045679;
    color: white;
  }
  
  .show {
    display: block;
  }
  