.rowrolesetup{
display: flex;
background-color: white;
margin-left: 68px;
padding-top: 70px;
}
.headerRoles3 ,.headerrole2{
  position: relative;
  margin-top: 3%;
}
.rolesetupcontainer9 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 59px;
  border: 1px solid #ccc;
}
.rightrolesetup {
  background-color: white;
  z-index: 1;
  padding-right: 4px;
  padding-left: 4px;
  position: relative;
  width: 100%;
}
.rolesetupcontainer1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 59px;
}
.rolesecomain {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  height: 59px;
  margin-top: 30px;
}
.rolesmain2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  height: 59px;
}
.roles_crud{
  display: flex;
align-items: center;
justify-content: center;
margin-top: 30px;
}

.header_bar_div.headerbardiv_description {
  padding-left: 36px;
  gap: 53px;
  font-size: 14px;
}