.reset {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.flexreset {
  display: flex;
  align-items: center;
  gap: 3%;
  /* background-color: mediumslateblue; */
}
.resetright {
  flex: 1;
}
input#newPassword,
#confirmPassword {
  position: relative;
  height: 40px;
  width: 100%;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline-color: #715cf3;
  padding: 6px;
}
#newPassword::placeholder,
#confirmPassword::placeholder {
  font-size: 13px;
  padding: 6px;
  font-style: italic;
  color: #ccc;
}
.hedingreset {
  font-size: 30px;
  font-family: "Ubuntu";
  font-weight: 700;
}
label.oldonemsg {
  text-wrap: nowrap;
  font-size: 16px;
  font-family: "Open Sans";
}
.form-groupnew,
.form-groupconfirm {
  line-height: 1.5;
  margin-bottom: 15px;
}
.labeloldmsgbot {
  margin-bottom: 12px;
}

label.confirmpass {
  font-size: 14px;
  font-family: "Open Sans";
}
.continuereset {
  position: relative;
  height: 40px;
  padding: 6px;
  width: 100%;
  border: 1px solid #ccc;
  color: white;
  background-image: linear-gradient(to right, #715cf3, #5c99f3);
  border-radius: 8px;
  font-size: 16px;
  font-family: "Open Sans";
}
.canncelclick {
  position: relative;
  height: 36px;
  width: 100%;
  border: 1px solid #715cf3;
  border-radius: 8px;
  font-size: 16px;
  background: none;
  font-family: "Open Sans";
}
.resetrightcontent {
  line-height: 1.5;
}
.savecancel {
  line-height: 3.5;
}
.error-messagereset {
  position: relative;
  top: 10px;
  color: red;
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
}
.error-messagereset input {
  border: 1px solid red;
}
.initial-border {
  border: 1px solid #715cf3;
}
